Repository osl-incubator/envers: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true

ruff-check:
  name: ruff-check
  entry: ruff check
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - -iii
  - -lll
  pass_filenames: true

vulture:
  name: vulture
  entry: vulture
  language: system
  description: Find unused Python code.
  pass_filenames: true

mccabe:
  name: mccabe
  entry: python -m mccabe --min 10
  language: system
  pass_filenames: true

fix linter issues
  .pre-commit-config.yaml
  pyproject.toml
  src/envers/cli.py
  src/envers/core.py
  tests/test_envers.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

workaround for distlib
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

implement initial version of profile_set
  .envers/data.lock
  .envers/specs.yaml
  src/envers/cli.py
  src/envers/core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

add more features
  .envers/data.lock
  .envers/specs.yaml
  README.md
  src/envers/cli.py
  src/envers/core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

add cryptography to data.lock
  .envers/data.lock
  poetry.lock
  pyproject.toml
  src/envers/core.py
  src/envers/crypt.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

remove .envers folder
  .envers/specs.yaml
  .gitignore
Due: none

fix readme
  README.md
  src/envers/core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

add smoke tests
  .github/workflows/main.yaml
  .makim.yaml
  tests/data/specs.yaml
Due: none

improve smoke test
  .makim.yaml
Due: none

feat: Add initial version of Envers (#3)
  .github/workflows/main.yaml
  .gitignore
  .makim.yaml
  .pre-commit-config.yaml
  README.md
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/envers/__init__.py
  src/envers/__main__.py
  src/envers/cli.py
  src/envers/core.py
  src/envers/crypt.py
  src/envers/envers.py
  tests/data/specs.yaml
  tests/test_envers.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

feat: Implement option for passing password as a stdin
  .makim.yaml
  src/envers/crypt.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

feat: Implement option for passing password as a stdin (#4)
  .makim.yaml
  src/envers/crypt.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

fix: Fix release workflow
  .makim.yaml
  .releaserc.json
Due: none

add convetionalcommits
  .makim.yaml
  .releaserc.json
Due: none

fix: Fix release workflow (#5)
  .makim.yaml
  .releaserc.json
Due: none

fix: Fix release workflow
  .releaserc.json
Due: none

fix: Fix release workflow (#6)
  .releaserc.json
Due: none

chore(release): 0.2.0
  docs/changelog.md
  pyproject.toml
  src/envers/__init__.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  6cde1031c769da33760cabfca21dac890cc612bf
Due: none

feat: Improve data.lock and fix small issues
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  src/envers/cli.py
  src/envers/core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

fix leftover from makim in the github action
  .github/workflows/main.yaml
Due: none

fix distlib issue
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

flexible pinning for python
  pyproject.toml
Due: none

fix deploy test
  .makim.yaml
Due: none

remove support for windows
  .github/workflows/main.yaml
Due: none

keep linter in a separate job and check if the branch is updated
  .github/workflows/main.yaml
Due: none

fix weird issue with release
  .github/workflows/release.yaml
Due: none

fix check-branch
  .github/workflows/main.yaml
Due: none

fix draft method
  src/envers/cli.py
  src/envers/core.py
  tests/test_core.py
  tests/test_envers.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

fix profile-set output text
  src/envers/core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

add docs attributte to each file and for each variable
  src/envers/core.py
  tests/test_core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

add docs attributte to each file and for each variable
  src/envers/core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

generate lock data individually for each profile
  src/envers/core.py
  src/envers/crypt.py
  tests/test_core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

fix smoke tests
  .makim.yaml
Due: none

fix test for macos ci
  tests/test_core.py
Due: ruff-format, ruff-check, bandit

feat: Separate data.lock per profile and fix small issues (#8)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/envers/cli.py
  src/envers/core.py
  src/envers/crypt.py
  tests/test_core.py
  tests/test_envers.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

ci: Fix ci job check-branch
  .github/workflows/main.yaml
Due: none

Path conditions:
  ruff-format: any of: ./ and \.py$
  ruff-check: any of: ./ and \.py$
  mypy: any of: src/envers and \.py$
  bandit: any of: \.py$
  vulture: any of: src/envers and \.py$
  mccabe: any of: src/envers and \.py$
