Repository osl-incubator/envers: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true

ruff-check:
  name: ruff-check
  entry: ruff check
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - -iii
  - -lll
  pass_filenames: true

vulture:
  name: vulture
  entry: vulture
  language: system
  description: Find unused Python code.
  pass_filenames: true

mccabe:
  name: mccabe
  entry: python -m mccabe --min 10
  language: system
  pass_filenames: true

ci: Fix ci job check-branch (#9)
  .github/workflows/main.yaml
Due: none

chore(release): 0.3.0
  docs/changelog.md
  pyproject.toml
  src/envers/__init__.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  6324012f8d17aa87aade7bc973848588b186ef9c
Due: none

deploy: 8c17ffd77d01db491e7590ca42fe373802fa25ff
  changelog/changelog.md
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

ci: Fix attribute ON in the CI workflow main.yaml
  .github/workflows/main.yaml
Due: none

ci: Fix attribute ON in the CI workflow main.yaml (#10)
  .github/workflows/main.yaml
Due: none

feat(cli): Implement --version flag to CLI
  src/envers/cli.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

feat(cli): Implement --version flag to CLI (#11)
  src/envers/cli.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

feat: Add step for password confirmation for the deploy command
  src/envers/core.py
  src/envers/crypt.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

fix smoke test for deploy
  .makim.yaml
Due: none

feat: Add step for password confirmation for the deploy command (#15)
  .makim.yaml
  src/envers/core.py
  src/envers/crypt.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

chore(release): 0.4.0
  docs/changelog.md
  pyproject.toml
  src/envers/__init__.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  a7c63fe1a477676bd72672f8b79369eb7f81f6fd
Due: none

deploy: 72c270ef4741fac93e60300f6866b607f8771447
  changelog/changelog.md
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update README.md
  README.md
Due: none

chore: Update project structure and configuration
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  poetry.lock
  pyproject.toml
  scripts/gen_ref_nav.py
  scripts/run-vulture.py
Due: ruff-format, ruff-check, bandit

fix ci
  .github/workflows/main.yaml
  conda/dev.yaml
Due: none

update makim and makim config file
  .makim.yaml
  poetry.lock
  pyproject.toml
Due: none

fix python version on ci
  .github/workflows/main.yaml
Due: none

apply linter
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .releaserc.json
  CODE_OF_CONDUCT.md
  README.md
  docs/contributing.md
  docs/index.md
  docs/installation.md
  docs/mkdocs.yaml
  src/envers/__main__.py
  src/envers/cli.py
  src/envers/core.py
  src/envers/crypt.py
  tests/data/specs.yaml
  tests/test_core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

fix unit test
  tests/test_core.py
Due: ruff-format, ruff-check, bandit

add annotation from future
  src/envers/__init__.py
  src/envers/__main__.py
  tests/test_core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

fix: Update project structure and configuration (#20)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .releaserc.json
  CODE_OF_CONDUCT.md
  README.md
  conda/dev.yaml
  docs/contributing.md
  docs/index.md
  docs/installation.md
  docs/mkdocs.yaml
  poetry.lock
  pyproject.toml
  scripts/gen_ref_nav.py
  scripts/run-vulture.py
  src/envers/__init__.py
  src/envers/__main__.py
  src/envers/cli.py
  src/envers/core.py
  src/envers/crypt.py
  tests/data/specs.yaml
  tests/test_core.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  97473942363892da02f0851972b603c501b34bb8
Due: none

chore(release): 0.4.1
  docs/changelog.md
  pyproject.toml
  src/envers/__init__.py
Due: ruff-format, ruff-check, mypy, bandit, vulture, mccabe

deploy: 2a85543f09923d273bde7627a208e87d25c326e3
  404.html
  api/references/index.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.d6f25eb3.min.js
  assets/javascripts/bundle.d6f25eb3.min.js.map
  assets/javascripts/bundle.d7c377c4.min.js
  assets/javascripts/bundle.d7c377c4.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/javascripts/workers/search.f886a092.min.js
  assets/javascripts/workers/search.f886a092.min.js.map
  assets/stylesheets/main.50c56a3b.min.css
  assets/stylesheets/main.50c56a3b.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  changelog/changelog.md
  changelog/index.html
  contributing/contributing.md
  contributing/index.html
  example/index.html
  index.html
  index.md
  installation/index.html
  installation/installation.md
  mkdocs.yaml
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix(docs): Fix documentation structure and content
  .makim.yaml
  README.md
  docs/api/references.md
  docs/api/references.rst
  docs/images/logo-big.png
  docs/images/logo.png
  docs/index.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
Due: none

fix(docs): Fix documentation structure and content (#21)
  .makim.yaml
  README.md
  docs/api/references.md
  docs/api/references.rst
  docs/images/logo-big.png
  docs/images/logo.png
  docs/index.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
Due: none

deploy: abdfc903ae80bbaac15bbbb8f6488b8849cdaa1b
  api/SUMMARY/SUMMARY.md
  api/SUMMARY/index.html
  api/envers/cli/cli.md
  api/envers/cli/index.html
  api/envers/core/core.md
  api/envers/core/index.html
  api/envers/crypt/crypt.md
  api/envers/crypt/index.html
  api/envers/index.html
  api/envers/index.md
  api/references.rst
  api/references/references.md
  changelog/index.html
  contributing/index.html
  example/index.html
  images/logo-big.png
  images/logo.png
  index.html
  index.md
  installation/index.html
  mkdocs.yaml
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Update Python version
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  pyproject.toml
Due: none

fix: Update Python version
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

fix: Update Python version (#24)
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

fix: generate docs year dynamically
  docs/main.py
  mkdocs.yaml
Due: ruff-format, ruff-check, bandit

docs: Generate docs year dynamically (#23)
  docs/main.py
  mkdocs.yaml
Due: ruff-format, ruff-check, bandit

Path conditions:
  ruff-format: any of: ./ and \.py$
  ruff-check: any of: ./ and \.py$
  mypy: any of: src/envers and \.py$
  bandit: any of: \.py$
  vulture: any of: src/envers and \.py$
  mccabe: any of: src/envers and \.py$
